.post-flex{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    max-width: 980px;
    gap: 15px;
}
.post-flex img{
    width: 250px;
    max-height: 140px;
    object-fit: cover;
}
.post-flex-item{
    display: flex;
    max-height: 140px;
    gap: 20px;
}
.post-flex-item:hover{
    background-color: aliceblue;
}
.post-flex-item p{
    margin: 0;
}
.post-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-detail-title{
    color: var(--color-blue);
}
.post-detail-abtract{
    font-size: 0.9rem;
    line-height:1.5;
}
.post-detail-author{
    font-size: 0.8rem;
}
.list-selection{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.selection-category{
    display: flex;
    gap: 10px;
    background-color: aliceblue;
}
.selection-item{
    color: var(--color-blue);
    padding: 0 5px;
    border-radius: 3px;
}
.selection-item:hover{
    background-color: rgb(87, 87, 87);
    color: white;
}


.post-img{
	position: relative;
}
.form-save{
	position: absolute;
	top:0;
	left:10px;
}
.form-save-label{
	color: var(--color-blue);
	background-color: white;
	padding: 0 5px;
	cursor: pointer;
}
.form-save-label:hover{
	background-color:var(--color-blue);
	color: white;
}