<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TruyenMa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>user/index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CommentAction</display-name>
    <servlet-name>CommentAction</servlet-name>
    <servlet-class>com.Action.CommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAction</servlet-name>
    <url-pattern>/CommentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadIMG</display-name>
    <servlet-name>UploadIMG</servlet-name>
    <servlet-class>com.uploadTest.UploadIMG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadIMG</servlet-name>
    <url-pattern>/UploadIMG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uploadtest</display-name>
    <servlet-name>Uploadtest</servlet-name>
    <servlet-class>upload.Uploadtest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploadtest</servlet-name>
    <url-pattern>/Uploadtest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetupSeri</display-name>
    <servlet-name>SetupSeri</servlet-name>
    <servlet-class>com.Servlet.SetupSeri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupSeri</servlet-name>
    <url-pattern>/SetupSeri</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSeri</display-name>
    <servlet-name>EditSeri</servlet-name>
    <servlet-class>admin.Servlet.EditSeri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSeri</servlet-name>
    <url-pattern>/EditSeri</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>admin.Servlet.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>admin.Servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSeri</display-name>
    <servlet-name>AddSeri</servlet-name>
    <servlet-class>admin.Servlet.AddSeri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSeri</servlet-name>
    <url-pattern>/AddSeri</url-pattern>
  </servlet-mapping>
</web-app>